/bitrix/
/upload/
/vendor/
/.access.php
/.bottom.menu.php
/.department.menu_ext.php
/.htaccess
/.section.php
/.top.menu.php
/.top.menu_ext.php
/.top_links.menu.php
/404.php
/agent_contract/
/ai/
/apconnect/
/auth.php
/auth/
/automation/
/bi/
/biconnector/
/bizproc/
/bizprocdesigner/
/blank.php
/booking/
/calendar/
/call/
/collaboration/
/company/
/conference/
/configs/
/crm/
/departments/
/desktop.php
/desktop_app/
/desktop_menu/
/devops/
/docs/
/favicon.ico
/gotobot/
/hr/
/images/
/include/
/index.php
/index_old.php
/kb/
/knowledge/
/license_restriction.php
/mail/
/market/
/marketing/
/marketplace/
/mobile/
/note/
/oauth/
/onec/
/online/
/page/
/pub/
/report/
/robots.txt
/rpa/
/saleshub/
/search/
/services/
/settings/
/shop/
/sign/
/sitemap/
/sites/
/spaces/
/stream/
/tasks/
/telephony/
/terminal/
/timeman/
/urlrewrite.php
/ustat.php
/vibe/
/vote-result/
/welcome/
/workgroups/
